body {
    background-color: #20345c;
    color: white;
    font-family: Helvetica, sans-serif;
      }

.profilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 10%;
    height: auto;
    max-width: 150px;

    border-radius: 50%;

}

.profilename {
    text-align: center;

    padding: 30px;
    font-size: 35px; 
}

.links {
    text-align: center;
    margin-top: 20px;
    border: 1px solid red;
    border-width: 2px;
    padding: 20px;

    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 40px;

    font-size: 18px;
}

a {
    text-decoration: none;

    color: white;
    transition: color 1s;
}

a:hover {
    color: black;

    background-color: white;
}